html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  background-color: white;
}

/* Fallback code */
.stage {
  display: none;
}

.csstransforms3d .stage {
  display: block;
}

.fallback-stage {
  width: 100%;
  height: 600px;
  background: url(../images/net-fallback.jpg) no-repeat center;
}

.csstransforms3d .fallback-stage {
  display: none;
}

/* InfoCube */
p {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  line-height: 1.4em;
  text-align: center;
  padding: 50px 40px;
}

.stage {
  width: 600px;
  height: 500px;
  margin: 10px auto;
  position: relative;
  -webkit-perspective: 1600px;
  -moz-perspective: 1600px;
  -ms-perspective: 1600px;
  -o-perspective: 1600px;
  perspective: 1600px;
  -webkit-perspective-origin: 50% 40px;
  -moz-perspective-origin: 50% 40px;
  -ms-perspective-origin: 50% 40px;
  -o-perspective-origin: 50% 40px;
  perspective-origin: 50% 40px;
  -webkit-animation: introduceCube 1s ease-out;
  -moz-animation: introduceCube 1s ease-out;
  -ms-animation: introduceCube 1s ease-out;
  -o-animation: introduceCube 1s ease-out;
  animation: introduceCube 1s ease-out;
}
.stage .cube {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
  transform: rotateY(0);
}
.stage .cube:hover {
  -webkit-transform: rotateY(-100deg);
  -moz-transform: rotateY(-100deg);
  -ms-transform: rotateY(-100deg);
  -o-transform: rotateY(-100deg);
  transform: rotateY(-100deg);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.stage .cube:hover span.shading {
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.stage .cube-positioning {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
}
.stage figure {
  display: block;
  width: 300px;
  height: 300px;
  left: 150px;
  top: 150px;
  background-color: #eeeeee;
  background: url(../images/white-noise.jpg) no-repeat;
  background-size: 100% 100%;
  background-size: 100%;
  position: absolute;
  -webkit-backface-visibility: visible;
  -moz-backface-visibility: visible;
  -ms-backface-visibility: visible;
  -o-backface-visibility: visible;
  backface-visibility: visible;
  overflow: hidden;
  -webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(60%, transparent), to(RGBA(0, 0, 0, 0.25)));
}
.stage figure:before, .stage figure:after, .stage figure .shading {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.stage figure:before, .stage figure .shading {
  background: -webkit-gradient(radial, 0% 0%, 0, 0% 0%, 100, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, #000000));
  background: -webkit-radial-gradient(top left, rgba(0, 0, 0, 0.5), #000000);
  background: -moz-radial-gradient(top left, rgba(0, 0, 0, 0.5), #000000);
  background: -o-radial-gradient(top left, rgba(0, 0, 0, 0.5), #000000);
  background: radial-gradient(top left, rgba(0, 0, 0, 0.5), #000000);
}
.stage figure:after {
  background: -webkit-gradient(radial, 100% 0%, 0, 100% 0%, 100, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, #000000));
  background: -webkit-radial-gradient(top right, rgba(0, 0, 0, 0.5), #000000);
  background: -moz-radial-gradient(top right, rgba(0, 0, 0, 0.5), #000000);
  background: -o-radial-gradient(top right, rgba(0, 0, 0, 0.5), #000000);
  background: radial-gradient(top right, rgba(0, 0, 0, 0.5), #000000);
}
.stage figure .shading {
  opacity: 0.2;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.stage .back {
  -webkit-transform: rotateY(180deg) translateZ(150px);
  -moz-transform: rotateY(180deg) translateZ(150px);
  -ms-transform: rotateY(180deg) translateZ(150px);
  -o-transform: rotateY(180deg) translateZ(150px);
  transform: rotateY(180deg) translateZ(150px);
}
.stage .back:after {
  opacity: 0.2;
}
.stage .top {
  -webkit-transform: rotateX(90deg) translateZ(150px);
  -moz-transform: rotateX(90deg) translateZ(150px);
  -ms-transform: rotateX(90deg) translateZ(150px);
  -o-transform: rotateX(90deg) translateZ(150px);
  transform: rotateX(90deg) translateZ(150px);
  -webkit-box-reflect: none;
}
.stage .top:after {
  content: " ";
  opacity: 0.2;
  width: 200%;
  height: 200%;
  margin-left: -50%;
  margin-top: -50%;
  display: inline-block;
  background: -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, #000000));
  background: -webkit-radial-gradient(bottom, rgba(0, 0, 0, 0), #000000);
  background: -moz-radial-gradient(bottom, rgba(0, 0, 0, 0), #000000);
  background: -o-radial-gradient(bottom, rgba(0, 0, 0, 0), #000000);
  background: radial-gradient(bottom, rgba(0, 0, 0, 0), #000000);
  -webkit-animation: rotateTop 1s infinite linear;
  -moz-animation: rotateTop 1s infinite linear;
  -ms-animation: rotateTop 1s infinite linear;
  -o-animation: rotateTop 1s infinite linear;
  animation: rotateTop 1s infinite linear;
}
.stage .bottom {
  -webkit-transform: rotateX(-90deg) translateZ(150px) translateY(-500px);
  -moz-transform: rotateX(-90deg) translateZ(150px) translateY(-500px);
  -ms-transform: rotateX(-90deg) translateZ(150px) translateY(-500px);
  -o-transform: rotateX(-90deg) translateZ(150px) translateY(-500px);
  transform: rotateX(-90deg) translateZ(150px) translateY(-500px);
  -webkit-box-shadow: 0 500px 50px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 500px 50px rgba(0, 0, 0, 0.7);
  box-shadow: 0 500px 50px rgba(0, 0, 0, 0.7);
  -webkit-backface-visibility: visible;
  -moz-backface-visibility: visible;
  -ms-backface-visibility: visible;
  -o-backface-visibility: visible;
  backface-visibility: visible;
  background: transparent;
  -webkit-box-reflect: none;
}
.stage .left {
  -webkit-transform: rotateY(-90deg) translateZ(150px);
  -moz-transform: rotateY(-90deg) translateZ(150px);
  -ms-transform: rotateY(-90deg) translateZ(150px);
  -o-transform: rotateY(-90deg) translateZ(150px);
  transform: rotateY(-90deg) translateZ(150px);
}
.stage .left:after {
  opacity: 0.2;
}
.stage .right {
  -webkit-transform: rotateY(90deg) translateZ(150px);
  -moz-transform: rotateY(90deg) translateZ(150px);
  -ms-transform: rotateY(90deg) translateZ(150px);
  -o-transform: rotateY(90deg) translateZ(150px);
  transform: rotateY(90deg) translateZ(150px);
}
.stage .right:after {
  opacity: 0.2;
}
.stage .front {
  background: url(../images/net-logo.jpg) no-repeat;
  -webkit-transform: translateZ(150px);
  -moz-transform: translateZ(150px);
  -ms-transform: translateZ(150px);
  -o-transform: translateZ(150px);
  transform: translateZ(150px);
}
.stage .front:before {
  opacity: 0.1;
}

@-moz-keyframes introduceCube {
  0% {
    opacity: 0;
    top: -20px;
    -moz-transform: scale(0.6);
    transform: scale(0.6);
  }

  20% {
    opacity: 1;
  }

  100% {
    top: 0;
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes introduceCube {
  0% {
    opacity: 0;
    top: -20px;
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }

  20% {
    opacity: 1;
  }

  100% {
    top: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-o-keyframes introduceCube {
  0% {
    opacity: 0;
    top: -20px;
    -o-transform: scale(0.6);
    transform: scale(0.6);
  }

  20% {
    opacity: 1;
  }

  100% {
    top: 0;
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@-ms-keyframes introduceCube {
  0% {
    opacity: 0;
    top: -20px;
    -ms-transform: scale(0.6);
    transform: scale(0.6);
  }

  20% {
    opacity: 1;
  }

  100% {
    top: 0;
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes introduceCube {
  0% {
    opacity: 0;
    top: -20px;
    transform: scale(0.6);
  }

  20% {
    opacity: 1;
  }

  100% {
    top: 0;
    transform: scale(1);
  }
}
