/* line 17, ../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/screen.sass */
body {
  background-color: #2c3035;
}

/* line 12, ../sass/screen.sass */
.background {
  width: 600px;
  height: 500px;
  margin: 100px auto;
  position: relative;
}

/* line 19, ../sass/screen.sass */
.object-container {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-perspective: 1600px;
  -moz-perspective: 1600px;
  -ms-perspective: 1600px;
  -o-perspective: 1600px;
  perspective: 1600px;
  -webkit-perspective-origin: 50% -340px;
  -moz-perspective-origin: 50% -340px;
  -ms-perspective-origin: 50% -340px;
  -o-perspective-origin: 50% -340px;
  perspective-origin: 50% -340px;
  -webkit-animation: introduceCube 1s ease-out;
  -moz-animation: introduceCube 1s ease-out;
  -ms-animation: introduceCube 1s ease-out;
  -o-animation: introduceCube 1s ease-out;
  animation: introduceCube 1s ease-out;
}
/* line 27, ../sass/screen.sass */
.object-container .cube {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation: rotate 10s infinite linear;
  -moz-animation: rotate 10s infinite linear;
  -ms-animation: rotate 10s infinite linear;
  -o-animation: rotate 10s infinite linear;
  animation: rotate 10s infinite linear;
}
/* line 33, ../sass/screen.sass */
.object-container figure {
  display: block;
  width: 300px;
  height: 300px;
  left: 150px;
  top: 150px;
  background-color: #dddddd;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 43, ../sass/screen.sass */
.object-container figure:before, .object-container figure:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}
/* line 51, ../sass/screen.sass */
.object-container figure:before {
  background: -webkit-gradient(radial, 0% 0%, 0, 0% 0%, 100, color-stop(0%, rgba(20, 20, 20, 0.5)), color-stop(100%, #000000));
  background: -webkit-radial-gradient(top left, rgba(20, 20, 20, 0.5), #000000);
  background: -moz-radial-gradient(top left, rgba(20, 20, 20, 0.5), #000000);
  background: -o-radial-gradient(top left, rgba(20, 20, 20, 0.5), #000000);
  background: radial-gradient(top left, rgba(20, 20, 20, 0.5), #000000);
}
/* line 54, ../sass/screen.sass */
.object-container figure:after {
  background: -webkit-gradient(radial, 0% 100%, 0, 0% 100%, 100, color-stop(0%, #000000), color-stop(100%, rgba(20, 20, 20, 0.5)));
  background: -webkit-radial-gradient(bottom left, #000000, rgba(20, 20, 20, 0.5));
  background: -moz-radial-gradient(bottom left, #000000, rgba(20, 20, 20, 0.5));
  background: -o-radial-gradient(bottom left, #000000, rgba(20, 20, 20, 0.5));
  background: radial-gradient(bottom left, #000000, rgba(20, 20, 20, 0.5));
}
/* line 57, ../sass/screen.sass */
.object-container .back {
  background-color: #52acff;
  -webkit-transform: rotateX(180deg) translateZ(150px);
  -moz-transform: rotateX(180deg) translateZ(150px);
  -ms-transform: rotateX(180deg) translateZ(150px);
  -o-transform: rotateX(180deg) translateZ(150px);
  transform: rotateX(180deg) translateZ(150px);
}
/* line 60, ../sass/screen.sass */
.object-container .back:before {
  background: -webkit-gradient(radial, 0% 100%, 0, 0% 100%, 100, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, #000000));
  background: -webkit-radial-gradient(bottom left, rgba(0, 0, 0, 0), #000000);
  background: -moz-radial-gradient(bottom left, rgba(0, 0, 0, 0), #000000);
  background: -o-radial-gradient(bottom left, rgba(0, 0, 0, 0), #000000);
  background: radial-gradient(bottom left, rgba(0, 0, 0, 0), #000000);
  -webkit-animation: backShading1 10s infinite linear;
  -moz-animation: backShading1 10s infinite linear;
  -ms-animation: backShading1 10s infinite linear;
  -o-animation: backShading1 10s infinite linear;
  animation: backShading1 10s infinite linear;
}
/* line 63, ../sass/screen.sass */
.object-container .back:after {
  background: -webkit-gradient(radial, 0% 0%, 0, 0% 0%, 100, color-stop(0%, #000000), color-stop(100%, rgba(0, 0, 0, 0)));
  background: -webkit-radial-gradient(top left, #000000, rgba(0, 0, 0, 0));
  background: -moz-radial-gradient(top left, #000000, rgba(0, 0, 0, 0));
  background: -o-radial-gradient(top left, #000000, rgba(0, 0, 0, 0));
  background: radial-gradient(top left, #000000, rgba(0, 0, 0, 0));
  -webkit-animation: backShading2 10s infinite linear;
  -moz-animation: backShading2 10s infinite linear;
  -ms-animation: backShading2 10s infinite linear;
  -o-animation: backShading2 10s infinite linear;
  animation: backShading2 10s infinite linear;
}
/* line 66, ../sass/screen.sass */
.object-container .top {
  background-color: #fff952;
  -webkit-transform: rotateX(90deg) translateZ(150px);
  -moz-transform: rotateX(90deg) translateZ(150px);
  -ms-transform: rotateX(90deg) translateZ(150px);
  -o-transform: rotateX(90deg) translateZ(150px);
  transform: rotateX(90deg) translateZ(150px);
  overflow: hidden;
}
/* line 70, ../sass/screen.sass */
.object-container .top:after {
  opacity: 1;
  width: 200%;
  height: 200%;
  margin-left: -50%;
  margin-top: -50%;
  background: -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, #000000));
  background: -webkit-radial-gradient(bottom, rgba(0, 0, 0, 0), #000000);
  background: -moz-radial-gradient(bottom, rgba(0, 0, 0, 0), #000000);
  background: -o-radial-gradient(bottom, rgba(0, 0, 0, 0), #000000);
  background: radial-gradient(bottom, rgba(0, 0, 0, 0), #000000);
  -webkit-animation: rotateTop 10s infinite linear;
  -moz-animation: rotateTop 10s infinite linear;
  -ms-animation: rotateTop 10s infinite linear;
  -o-animation: rotateTop 10s infinite linear;
  animation: rotateTop 10s infinite linear;
}
/* line 79, ../sass/screen.sass */
.object-container .bottom {
  -webkit-transform: rotateX(-90deg) translateZ(150px);
  -moz-transform: rotateX(-90deg) translateZ(150px);
  -ms-transform: rotateX(-90deg) translateZ(150px);
  -o-transform: rotateX(-90deg) translateZ(150px);
  transform: rotateX(-90deg) translateZ(150px);
  -webkit-box-shadow: 0 10px 100px black;
  -moz-box-shadow: 0 10px 100px black;
  box-shadow: 0 10px 100px black;
  -webkit-backface-visibility: visible;
  -moz-backface-visibility: visible;
  -ms-backface-visibility: visible;
  -o-backface-visibility: visible;
  backface-visibility: visible;
  background-color: rgba(0, 0, 0, 0);
}
/* line 84, ../sass/screen.sass */
.object-container .left {
  background-color: #52ff73;
  -webkit-transform: rotateY(-90deg) translateZ(150px);
  -moz-transform: rotateY(-90deg) translateZ(150px);
  -ms-transform: rotateY(-90deg) translateZ(150px);
  -o-transform: rotateY(-90deg) translateZ(150px);
  transform: rotateY(-90deg) translateZ(150px);
}
/* line 87, ../sass/screen.sass */
.object-container .left:before {
  -webkit-animation: leftShading1 10s infinite linear;
  -moz-animation: leftShading1 10s infinite linear;
  -ms-animation: leftShading1 10s infinite linear;
  -o-animation: leftShading1 10s infinite linear;
  animation: leftShading1 10s infinite linear;
}
/* line 89, ../sass/screen.sass */
.object-container .left:after {
  -webkit-animation: leftShading2 10s infinite linear;
  -moz-animation: leftShading2 10s infinite linear;
  -ms-animation: leftShading2 10s infinite linear;
  -o-animation: leftShading2 10s infinite linear;
  animation: leftShading2 10s infinite linear;
}
/* line 91, ../sass/screen.sass */
.object-container .right {
  background-color: #ff5262;
  -webkit-transform: rotateY(90deg) translateZ(150px);
  -moz-transform: rotateY(90deg) translateZ(150px);
  -ms-transform: rotateY(90deg) translateZ(150px);
  -o-transform: rotateY(90deg) translateZ(150px);
  transform: rotateY(90deg) translateZ(150px);
}
/* line 94, ../sass/screen.sass */
.object-container .right:before {
  -webkit-animation: rightShading1 10s infinite linear;
  -moz-animation: rightShading1 10s infinite linear;
  -ms-animation: rightShading1 10s infinite linear;
  -o-animation: rightShading1 10s infinite linear;
  animation: rightShading1 10s infinite linear;
}
/* line 96, ../sass/screen.sass */
.object-container .right:after {
  -webkit-animation: rightShading2 10s infinite linear;
  -moz-animation: rightShading2 10s infinite linear;
  -ms-animation: rightShading2 10s infinite linear;
  -o-animation: rightShading2 10s infinite linear;
  animation: rightShading2 10s infinite linear;
}
/* line 98, ../sass/screen.sass */
.object-container .front {
  background-color: #60c2ef;
  -webkit-transform: translateZ(150px);
  -moz-transform: translateZ(150px);
  -ms-transform: translateZ(150px);
  -o-transform: translateZ(150px);
  transform: translateZ(150px);
}
/* line 101, ../sass/screen.sass */
.object-container .front:before {
  -webkit-animation: frontShading1 10s infinite linear;
  -moz-animation: frontShading1 10s infinite linear;
  -ms-animation: frontShading1 10s infinite linear;
  -o-animation: frontShading1 10s infinite linear;
  animation: frontShading1 10s infinite linear;
}
/* line 103, ../sass/screen.sass */
.object-container .front:after {
  -webkit-animation: frontShading2 10s infinite linear;
  -moz-animation: frontShading2 10s infinite linear;
  -ms-animation: frontShading2 10s infinite linear;
  -o-animation: frontShading2 10s infinite linear;
  animation: frontShading2 10s infinite linear;
}

@-moz-keyframes rotate {
  /* line 108, ../sass/screen.sass */
  0% {
    -moz-transform: rotateY(0);
    transform: rotateY(0);
  }

  /* line 110, ../sass/screen.sass */
  100% {
    -moz-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-webkit-keyframes rotate {
  /* line 108, ../sass/screen.sass */
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }

  /* line 110, ../sass/screen.sass */
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-o-keyframes rotate {
  /* line 108, ../sass/screen.sass */
  0% {
    -o-transform: rotateY(0);
    transform: rotateY(0);
  }

  /* line 110, ../sass/screen.sass */
  100% {
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-ms-keyframes rotate {
  /* line 108, ../sass/screen.sass */
  0% {
    -ms-transform: rotateY(0);
    transform: rotateY(0);
  }

  /* line 110, ../sass/screen.sass */
  100% {
    -ms-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes rotate {
  /* line 108, ../sass/screen.sass */
  0% {
    transform: rotateY(0);
  }

  /* line 110, ../sass/screen.sass */
  100% {
    transform: rotateY(360deg);
  }
}

@-moz-keyframes frontShading1 {
  /* line 114, ../sass/screen.sass */
  2% {
    opacity: 0;
  }

  /* line 116, ../sass/screen.sass */
  25% {
    opacity: 0.9;
  }

  /* line 118, ../sass/screen.sass */
  35% {
    opacity: 0.9;
  }

  /* line 120, ../sass/screen.sass */
  50% {
    opacity: 0;
  }
}

@-webkit-keyframes frontShading1 {
  /* line 114, ../sass/screen.sass */
  2% {
    opacity: 0;
  }

  /* line 116, ../sass/screen.sass */
  25% {
    opacity: 0.9;
  }

  /* line 118, ../sass/screen.sass */
  35% {
    opacity: 0.9;
  }

  /* line 120, ../sass/screen.sass */
  50% {
    opacity: 0;
  }
}

@-o-keyframes frontShading1 {
  /* line 114, ../sass/screen.sass */
  2% {
    opacity: 0;
  }

  /* line 116, ../sass/screen.sass */
  25% {
    opacity: 0.9;
  }

  /* line 118, ../sass/screen.sass */
  35% {
    opacity: 0.9;
  }

  /* line 120, ../sass/screen.sass */
  50% {
    opacity: 0;
  }
}

@-ms-keyframes frontShading1 {
  /* line 114, ../sass/screen.sass */
  2% {
    opacity: 0;
  }

  /* line 116, ../sass/screen.sass */
  25% {
    opacity: 0.9;
  }

  /* line 118, ../sass/screen.sass */
  35% {
    opacity: 0.9;
  }

  /* line 120, ../sass/screen.sass */
  50% {
    opacity: 0;
  }
}

@keyframes frontShading1 {
  /* line 114, ../sass/screen.sass */
  2% {
    opacity: 0;
  }

  /* line 116, ../sass/screen.sass */
  25% {
    opacity: 0.9;
  }

  /* line 118, ../sass/screen.sass */
  35% {
    opacity: 0.9;
  }

  /* line 120, ../sass/screen.sass */
  50% {
    opacity: 0;
  }
}

@-moz-keyframes frontShading2 {
  /* line 124, ../sass/screen.sass */
  50% {
    opacity: 0;
  }

  /* line 126, ../sass/screen.sass */
  60% {
    opacity: 0.9;
  }

  /* line 128, ../sass/screen.sass */
  75% {
    opacity: 0.9;
  }

  /* line 130, ../sass/screen.sass */
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes frontShading2 {
  /* line 124, ../sass/screen.sass */
  50% {
    opacity: 0;
  }

  /* line 126, ../sass/screen.sass */
  60% {
    opacity: 0.9;
  }

  /* line 128, ../sass/screen.sass */
  75% {
    opacity: 0.9;
  }

  /* line 130, ../sass/screen.sass */
  100% {
    opacity: 0;
  }
}

@-o-keyframes frontShading2 {
  /* line 124, ../sass/screen.sass */
  50% {
    opacity: 0;
  }

  /* line 126, ../sass/screen.sass */
  60% {
    opacity: 0.9;
  }

  /* line 128, ../sass/screen.sass */
  75% {
    opacity: 0.9;
  }

  /* line 130, ../sass/screen.sass */
  100% {
    opacity: 0;
  }
}

@-ms-keyframes frontShading2 {
  /* line 124, ../sass/screen.sass */
  50% {
    opacity: 0;
  }

  /* line 126, ../sass/screen.sass */
  60% {
    opacity: 0.9;
  }

  /* line 128, ../sass/screen.sass */
  75% {
    opacity: 0.9;
  }

  /* line 130, ../sass/screen.sass */
  100% {
    opacity: 0;
  }
}

@keyframes frontShading2 {
  /* line 124, ../sass/screen.sass */
  50% {
    opacity: 0;
  }

  /* line 126, ../sass/screen.sass */
  60% {
    opacity: 0.9;
  }

  /* line 128, ../sass/screen.sass */
  75% {
    opacity: 0.9;
  }

  /* line 130, ../sass/screen.sass */
  100% {
    opacity: 0;
  }
}

@-moz-keyframes backShading1 {
  /* line 134, ../sass/screen.sass */
  25% {
    opacity: 0.9;
  }

  /* line 136, ../sass/screen.sass */
  48% {
    opacity: 0;
  }

  /* line 138, ../sass/screen.sass */
  75% {
    opacity: 0;
  }

  /* line 140, ../sass/screen.sass */
  80% {
    opacity: 0.9;
  }
}

@-webkit-keyframes backShading1 {
  /* line 134, ../sass/screen.sass */
  25% {
    opacity: 0.9;
  }

  /* line 136, ../sass/screen.sass */
  48% {
    opacity: 0;
  }

  /* line 138, ../sass/screen.sass */
  75% {
    opacity: 0;
  }

  /* line 140, ../sass/screen.sass */
  80% {
    opacity: 0.9;
  }
}

@-o-keyframes backShading1 {
  /* line 134, ../sass/screen.sass */
  25% {
    opacity: 0.9;
  }

  /* line 136, ../sass/screen.sass */
  48% {
    opacity: 0;
  }

  /* line 138, ../sass/screen.sass */
  75% {
    opacity: 0;
  }

  /* line 140, ../sass/screen.sass */
  80% {
    opacity: 0.9;
  }
}

@-ms-keyframes backShading1 {
  /* line 134, ../sass/screen.sass */
  25% {
    opacity: 0.9;
  }

  /* line 136, ../sass/screen.sass */
  48% {
    opacity: 0;
  }

  /* line 138, ../sass/screen.sass */
  75% {
    opacity: 0;
  }

  /* line 140, ../sass/screen.sass */
  80% {
    opacity: 0.9;
  }
}

@keyframes backShading1 {
  /* line 134, ../sass/screen.sass */
  25% {
    opacity: 0.9;
  }

  /* line 136, ../sass/screen.sass */
  48% {
    opacity: 0;
  }

  /* line 138, ../sass/screen.sass */
  75% {
    opacity: 0;
  }

  /* line 140, ../sass/screen.sass */
  80% {
    opacity: 0.9;
  }
}

@-moz-keyframes backShading2 {
  /* line 144, ../sass/screen.sass */
  25% {
    opacity: 0;
  }

  /* line 146, ../sass/screen.sass */
  52% {
    opacity: 0;
  }

  /* line 148, ../sass/screen.sass */
  75% {
    opacity: 0.9;
  }

  /* line 150, ../sass/screen.sass */
  80% {
    opacity: 0.9;
  }
}

@-webkit-keyframes backShading2 {
  /* line 144, ../sass/screen.sass */
  25% {
    opacity: 0;
  }

  /* line 146, ../sass/screen.sass */
  52% {
    opacity: 0;
  }

  /* line 148, ../sass/screen.sass */
  75% {
    opacity: 0.9;
  }

  /* line 150, ../sass/screen.sass */
  80% {
    opacity: 0.9;
  }
}

@-o-keyframes backShading2 {
  /* line 144, ../sass/screen.sass */
  25% {
    opacity: 0;
  }

  /* line 146, ../sass/screen.sass */
  52% {
    opacity: 0;
  }

  /* line 148, ../sass/screen.sass */
  75% {
    opacity: 0.9;
  }

  /* line 150, ../sass/screen.sass */
  80% {
    opacity: 0.9;
  }
}

@-ms-keyframes backShading2 {
  /* line 144, ../sass/screen.sass */
  25% {
    opacity: 0;
  }

  /* line 146, ../sass/screen.sass */
  52% {
    opacity: 0;
  }

  /* line 148, ../sass/screen.sass */
  75% {
    opacity: 0.9;
  }

  /* line 150, ../sass/screen.sass */
  80% {
    opacity: 0.9;
  }
}

@keyframes backShading2 {
  /* line 144, ../sass/screen.sass */
  25% {
    opacity: 0;
  }

  /* line 146, ../sass/screen.sass */
  52% {
    opacity: 0;
  }

  /* line 148, ../sass/screen.sass */
  75% {
    opacity: 0.9;
  }

  /* line 150, ../sass/screen.sass */
  80% {
    opacity: 0.9;
  }
}

@-moz-keyframes leftShading1 {
  /* line 154, ../sass/screen.sass */
  0% {
    opacity: 0;
  }

  /* line 156, ../sass/screen.sass */
  25% {
    opacity: 0;
  }

  /* line 158, ../sass/screen.sass */
  50% {
    opacity: 0.9;
  }

  /* line 160, ../sass/screen.sass */
  60% {
    opacity: 0.9;
  }
}

@-webkit-keyframes leftShading1 {
  /* line 154, ../sass/screen.sass */
  0% {
    opacity: 0;
  }

  /* line 156, ../sass/screen.sass */
  25% {
    opacity: 0;
  }

  /* line 158, ../sass/screen.sass */
  50% {
    opacity: 0.9;
  }

  /* line 160, ../sass/screen.sass */
  60% {
    opacity: 0.9;
  }
}

@-o-keyframes leftShading1 {
  /* line 154, ../sass/screen.sass */
  0% {
    opacity: 0;
  }

  /* line 156, ../sass/screen.sass */
  25% {
    opacity: 0;
  }

  /* line 158, ../sass/screen.sass */
  50% {
    opacity: 0.9;
  }

  /* line 160, ../sass/screen.sass */
  60% {
    opacity: 0.9;
  }
}

@-ms-keyframes leftShading1 {
  /* line 154, ../sass/screen.sass */
  0% {
    opacity: 0;
  }

  /* line 156, ../sass/screen.sass */
  25% {
    opacity: 0;
  }

  /* line 158, ../sass/screen.sass */
  50% {
    opacity: 0.9;
  }

  /* line 160, ../sass/screen.sass */
  60% {
    opacity: 0.9;
  }
}

@keyframes leftShading1 {
  /* line 154, ../sass/screen.sass */
  0% {
    opacity: 0;
  }

  /* line 156, ../sass/screen.sass */
  25% {
    opacity: 0;
  }

  /* line 158, ../sass/screen.sass */
  50% {
    opacity: 0.9;
  }

  /* line 160, ../sass/screen.sass */
  60% {
    opacity: 0.9;
  }
}

@-moz-keyframes leftShading2 {
  /* line 164, ../sass/screen.sass */
  0% {
    opacity: 0.9;
  }

  /* line 166, ../sass/screen.sass */
  23% {
    opacity: 0;
  }

  /* line 168, ../sass/screen.sass */
  50% {
    opacity: 0;
  }

  /* line 170, ../sass/screen.sass */
  100% {
    opacity: 0.9;
  }
}

@-webkit-keyframes leftShading2 {
  /* line 164, ../sass/screen.sass */
  0% {
    opacity: 0.9;
  }

  /* line 166, ../sass/screen.sass */
  23% {
    opacity: 0;
  }

  /* line 168, ../sass/screen.sass */
  50% {
    opacity: 0;
  }

  /* line 170, ../sass/screen.sass */
  100% {
    opacity: 0.9;
  }
}

@-o-keyframes leftShading2 {
  /* line 164, ../sass/screen.sass */
  0% {
    opacity: 0.9;
  }

  /* line 166, ../sass/screen.sass */
  23% {
    opacity: 0;
  }

  /* line 168, ../sass/screen.sass */
  50% {
    opacity: 0;
  }

  /* line 170, ../sass/screen.sass */
  100% {
    opacity: 0.9;
  }
}

@-ms-keyframes leftShading2 {
  /* line 164, ../sass/screen.sass */
  0% {
    opacity: 0.9;
  }

  /* line 166, ../sass/screen.sass */
  23% {
    opacity: 0;
  }

  /* line 168, ../sass/screen.sass */
  50% {
    opacity: 0;
  }

  /* line 170, ../sass/screen.sass */
  100% {
    opacity: 0.9;
  }
}

@keyframes leftShading2 {
  /* line 164, ../sass/screen.sass */
  0% {
    opacity: 0.9;
  }

  /* line 166, ../sass/screen.sass */
  23% {
    opacity: 0;
  }

  /* line 168, ../sass/screen.sass */
  50% {
    opacity: 0;
  }

  /* line 170, ../sass/screen.sass */
  100% {
    opacity: 0.9;
  }
}

@-moz-keyframes rightShading2 {
  /* line 174, ../sass/screen.sass */
  50% {
    opacity: 0.9;
  }

  /* line 176, ../sass/screen.sass */
  73% {
    opacity: 0;
  }

  /* line 178, ../sass/screen.sass */
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes rightShading2 {
  /* line 174, ../sass/screen.sass */
  50% {
    opacity: 0.9;
  }

  /* line 176, ../sass/screen.sass */
  73% {
    opacity: 0;
  }

  /* line 178, ../sass/screen.sass */
  100% {
    opacity: 0;
  }
}

@-o-keyframes rightShading2 {
  /* line 174, ../sass/screen.sass */
  50% {
    opacity: 0.9;
  }

  /* line 176, ../sass/screen.sass */
  73% {
    opacity: 0;
  }

  /* line 178, ../sass/screen.sass */
  100% {
    opacity: 0;
  }
}

@-ms-keyframes rightShading2 {
  /* line 174, ../sass/screen.sass */
  50% {
    opacity: 0.9;
  }

  /* line 176, ../sass/screen.sass */
  73% {
    opacity: 0;
  }

  /* line 178, ../sass/screen.sass */
  100% {
    opacity: 0;
  }
}

@keyframes rightShading2 {
  /* line 174, ../sass/screen.sass */
  50% {
    opacity: 0.9;
  }

  /* line 176, ../sass/screen.sass */
  73% {
    opacity: 0;
  }

  /* line 178, ../sass/screen.sass */
  100% {
    opacity: 0;
  }
}

@-moz-keyframes rightShading1 {
  /* line 182, ../sass/screen.sass */
  10% {
    opacity: 0.9;
  }

  /* line 184, ../sass/screen.sass */
  50% {
    opacity: 0;
  }

  /* line 186, ../sass/screen.sass */
  73% {
    opacity: 0;
  }

  /* line 188, ../sass/screen.sass */
  100% {
    opacity: 0.9;
  }
}

@-webkit-keyframes rightShading1 {
  /* line 182, ../sass/screen.sass */
  10% {
    opacity: 0.9;
  }

  /* line 184, ../sass/screen.sass */
  50% {
    opacity: 0;
  }

  /* line 186, ../sass/screen.sass */
  73% {
    opacity: 0;
  }

  /* line 188, ../sass/screen.sass */
  100% {
    opacity: 0.9;
  }
}

@-o-keyframes rightShading1 {
  /* line 182, ../sass/screen.sass */
  10% {
    opacity: 0.9;
  }

  /* line 184, ../sass/screen.sass */
  50% {
    opacity: 0;
  }

  /* line 186, ../sass/screen.sass */
  73% {
    opacity: 0;
  }

  /* line 188, ../sass/screen.sass */
  100% {
    opacity: 0.9;
  }
}

@-ms-keyframes rightShading1 {
  /* line 182, ../sass/screen.sass */
  10% {
    opacity: 0.9;
  }

  /* line 184, ../sass/screen.sass */
  50% {
    opacity: 0;
  }

  /* line 186, ../sass/screen.sass */
  73% {
    opacity: 0;
  }

  /* line 188, ../sass/screen.sass */
  100% {
    opacity: 0.9;
  }
}

@keyframes rightShading1 {
  /* line 182, ../sass/screen.sass */
  10% {
    opacity: 0.9;
  }

  /* line 184, ../sass/screen.sass */
  50% {
    opacity: 0;
  }

  /* line 186, ../sass/screen.sass */
  73% {
    opacity: 0;
  }

  /* line 188, ../sass/screen.sass */
  100% {
    opacity: 0.9;
  }
}

@-moz-keyframes rotateTop {
  /* line 192, ../sass/screen.sass */
  0% {
    -moz-transform: rotateZ(0);
    transform: rotateZ(0);
  }

  /* line 194, ../sass/screen.sass */
  100% {
    -moz-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@-webkit-keyframes rotateTop {
  /* line 192, ../sass/screen.sass */
  0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }

  /* line 194, ../sass/screen.sass */
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@-o-keyframes rotateTop {
  /* line 192, ../sass/screen.sass */
  0% {
    -o-transform: rotateZ(0);
    transform: rotateZ(0);
  }

  /* line 194, ../sass/screen.sass */
  100% {
    -o-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@-ms-keyframes rotateTop {
  /* line 192, ../sass/screen.sass */
  0% {
    -ms-transform: rotateZ(0);
    transform: rotateZ(0);
  }

  /* line 194, ../sass/screen.sass */
  100% {
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@keyframes rotateTop {
  /* line 192, ../sass/screen.sass */
  0% {
    transform: rotateZ(0);
  }

  /* line 194, ../sass/screen.sass */
  100% {
    transform: rotateZ(360deg);
  }
}

@-moz-keyframes openDoor {
  /* line 198, ../sass/screen.sass */
  0% {
    width: 0;
    height: 10px;
  }

  /* line 201, ../sass/screen.sass */
  50% {
    width: 300px;
    height: 10px;
  }

  /* line 204, ../sass/screen.sass */
  100% {
    height: 250px;
  }
}

@-webkit-keyframes openDoor {
  /* line 198, ../sass/screen.sass */
  0% {
    width: 0;
    height: 10px;
  }

  /* line 201, ../sass/screen.sass */
  50% {
    width: 300px;
    height: 10px;
  }

  /* line 204, ../sass/screen.sass */
  100% {
    height: 250px;
  }
}

@-o-keyframes openDoor {
  /* line 198, ../sass/screen.sass */
  0% {
    width: 0;
    height: 10px;
  }

  /* line 201, ../sass/screen.sass */
  50% {
    width: 300px;
    height: 10px;
  }

  /* line 204, ../sass/screen.sass */
  100% {
    height: 250px;
  }
}

@-ms-keyframes openDoor {
  /* line 198, ../sass/screen.sass */
  0% {
    width: 0;
    height: 10px;
  }

  /* line 201, ../sass/screen.sass */
  50% {
    width: 300px;
    height: 10px;
  }

  /* line 204, ../sass/screen.sass */
  100% {
    height: 250px;
  }
}

@keyframes openDoor {
  /* line 198, ../sass/screen.sass */
  0% {
    width: 0;
    height: 10px;
  }

  /* line 201, ../sass/screen.sass */
  50% {
    width: 300px;
    height: 10px;
  }

  /* line 204, ../sass/screen.sass */
  100% {
    height: 250px;
  }
}

@-moz-keyframes introduceCube {
  /* line 208, ../sass/screen.sass */
  0% {
    opacity: 0;
    top: -20px;
    -moz-transform: scale(0.8);
    transform: scale(0.8);
  }

  /* line 212, ../sass/screen.sass */
  20% {
    opacity: 1;
  }

  /* line 214, ../sass/screen.sass */
  100% {
    top: 0;
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes introduceCube {
  /* line 208, ../sass/screen.sass */
  0% {
    opacity: 0;
    top: -20px;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  /* line 212, ../sass/screen.sass */
  20% {
    opacity: 1;
  }

  /* line 214, ../sass/screen.sass */
  100% {
    top: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-o-keyframes introduceCube {
  /* line 208, ../sass/screen.sass */
  0% {
    opacity: 0;
    top: -20px;
    -o-transform: scale(0.8);
    transform: scale(0.8);
  }

  /* line 212, ../sass/screen.sass */
  20% {
    opacity: 1;
  }

  /* line 214, ../sass/screen.sass */
  100% {
    top: 0;
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@-ms-keyframes introduceCube {
  /* line 208, ../sass/screen.sass */
  0% {
    opacity: 0;
    top: -20px;
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  /* line 212, ../sass/screen.sass */
  20% {
    opacity: 1;
  }

  /* line 214, ../sass/screen.sass */
  100% {
    top: 0;
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes introduceCube {
  /* line 208, ../sass/screen.sass */
  0% {
    opacity: 0;
    top: -20px;
    transform: scale(0.8);
  }

  /* line 212, ../sass/screen.sass */
  20% {
    opacity: 1;
  }

  /* line 214, ../sass/screen.sass */
  100% {
    top: 0;
    transform: scale(1);
  }
}
