/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/screen.sass */
body {
  background-color: #eeeeee;
}

/* line 12, ../sass/screen.sass */
.background {
  width: 600px;
  height: 500px;
  margin: 100px auto;
  position: relative;
}

/* line 18, ../sass/screen.sass */
sup {
  font-size: 439px;
  color: white;
  position: absolute;
  top: -80px;
  left: 24px;
  font-family: "Open Sans", sans-serif;
  -webkit-transform: rotateZ(5deg);
  -moz-transform: rotateZ(5deg);
  -ms-transform: rotateZ(5deg);
  -o-transform: rotateZ(5deg);
  transform: rotateZ(5deg);
}

/* line 27, ../sass/screen.sass */
.scene {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-perspective: 1600px;
  -moz-perspective: 1600px;
  -ms-perspective: 1600px;
  -o-perspective: 1600px;
  perspective: 1600px;
  -webkit-perspective-origin: 50% -240px;
  -moz-perspective-origin: 50% -240px;
  -ms-perspective-origin: 50% -240px;
  -o-perspective-origin: 50% -240px;
  perspective-origin: 50% -240px;
  -webkit-animation: introduceCube 1.5s ease-out;
  -moz-animation: introduceCube 1.5s ease-out;
  -ms-animation: introduceCube 1.5s ease-out;
  -o-animation: introduceCube 1.5s ease-out;
  animation: introduceCube 1.5s ease-out;
}
/* line 35, ../sass/screen.sass */
.scene .cube {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation: rotate 10s infinite linear;
  -moz-animation: rotate 10s infinite linear;
  -ms-animation: rotate 10s infinite linear;
  -o-animation: rotate 10s infinite linear;
  animation: rotate 10s infinite linear;
}
/* line 39, ../sass/screen.sass */
.scene .cube-positioning {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
}
/* line 45, ../sass/screen.sass */
.scene .cube-positioning.one {
  -webkit-transform: translateZ(100px) translateX(-50px) rotateZ(-5deg);
  -moz-transform: translateZ(100px) translateX(-50px) rotateZ(-5deg);
  -ms-transform: translateZ(100px) translateX(-50px) rotateZ(-5deg);
  -o-transform: translateZ(100px) translateX(-50px) rotateZ(-5deg);
  transform: translateZ(100px) translateX(-50px) rotateZ(-5deg);
  z-index: 10;
}
/* line 49, ../sass/screen.sass */
.scene .cube-positioning.two {
  -webkit-transform: translateZ(-500px) translateX(500px) rotateZ(-3deg);
  -moz-transform: translateZ(-500px) translateX(500px) rotateZ(-3deg);
  -ms-transform: translateZ(-500px) translateX(500px) rotateZ(-3deg);
  -o-transform: translateZ(-500px) translateX(500px) rotateZ(-3deg);
  transform: translateZ(-500px) translateX(500px) rotateZ(-3deg);
  z-index: 5;
}
/* line 53, ../sass/screen.sass */
.scene .cube-positioning.three {
  -webkit-transform: translateZ(-1800px) translateX(-400px);
  -moz-transform: translateZ(-1800px) translateX(-400px);
  -ms-transform: translateZ(-1800px) translateX(-400px);
  -o-transform: translateZ(-1800px) translateX(-400px);
  transform: translateZ(-1800px) translateX(-400px);
}
/* line 56, ../sass/screen.sass */
.scene .cube-positioning.three .cube {
  -webkit-transform-origin: -100px;
}
/* line 59, ../sass/screen.sass */
.scene figure {
  display: block;
  width: 300px;
  height: 300px;
  left: 150px;
  top: 150px;
  background-color: #dddddd;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f37140), color-stop(30%, #f37541), color-stop(50%, #ef4834));
  background: -webkit-linear-gradient(#f37140 0%, #f37541 30%, #ef4834 50%);
  background: -moz-linear-gradient(#f37140 0%, #f37541 30%, #ef4834 50%);
  background: -o-linear-gradient(#f37140 0%, #f37541 30%, #ef4834 50%);
  background: linear-gradient(#f37140 0%, #f37541 30%, #ef4834 50%);
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  -webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(RGBA(0, 0, 0, 0.1)));
}
/* line 72, ../sass/screen.sass */
.scene figure:before, .scene figure:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}
/* line 80, ../sass/screen.sass */
.scene figure:before {
  background: -webkit-gradient(radial, 0% 0%, 0, 0% 0%, 100, color-stop(0%, rgba(20, 20, 20, 0.5)), color-stop(100%, #000000));
  background: -webkit-radial-gradient(top left, rgba(20, 20, 20, 0.5), #000000);
  background: -moz-radial-gradient(top left, rgba(20, 20, 20, 0.5), #000000);
  background: -o-radial-gradient(top left, rgba(20, 20, 20, 0.5), #000000);
  background: radial-gradient(top left, rgba(20, 20, 20, 0.5), #000000);
  z-index: 10;
}
/* line 84, ../sass/screen.sass */
.scene figure:after {
  background: -webkit-gradient(radial, 0% 100%, 0, 0% 100%, 100, color-stop(0%, #000000), color-stop(100%, rgba(20, 20, 20, 0.5)));
  background: -webkit-radial-gradient(bottom left, #000000, rgba(20, 20, 20, 0.5));
  background: -moz-radial-gradient(bottom left, #000000, rgba(20, 20, 20, 0.5));
  background: -o-radial-gradient(bottom left, #000000, rgba(20, 20, 20, 0.5));
  background: radial-gradient(bottom left, #000000, rgba(20, 20, 20, 0.5));
  z-index: 10;
}
/* line 88, ../sass/screen.sass */
.scene .back {
  -webkit-transform: rotateY(180deg) translateZ(150px);
  -moz-transform: rotateY(180deg) translateZ(150px);
  -ms-transform: rotateY(180deg) translateZ(150px);
  -o-transform: rotateY(180deg) translateZ(150px);
  transform: rotateY(180deg) translateZ(150px);
}
/* line 90, ../sass/screen.sass */
.scene .back:before {
  background: -webkit-gradient(radial, 100% 0%, 0, 100% 0%, 100, color-stop(0%, rgba(20, 20, 20, 0.5)), color-stop(100%, #000000));
  background: -webkit-radial-gradient(top right, rgba(20, 20, 20, 0.5), #000000);
  background: -moz-radial-gradient(top right, rgba(20, 20, 20, 0.5), #000000);
  background: -o-radial-gradient(top right, rgba(20, 20, 20, 0.5), #000000);
  background: radial-gradient(top right, rgba(20, 20, 20, 0.5), #000000);
  -webkit-animation: backShading1 10s infinite linear;
  -moz-animation: backShading1 10s infinite linear;
  -ms-animation: backShading1 10s infinite linear;
  -o-animation: backShading1 10s infinite linear;
  animation: backShading1 10s infinite linear;
}
/* line 93, ../sass/screen.sass */
.scene .back:after {
  background: -webkit-gradient(radial, 100% 100%, 0, 100% 100%, 100, color-stop(0%, #000000), color-stop(100%, rgba(20, 20, 20, 0.5)));
  background: -webkit-radial-gradient(bottom right, #000000, rgba(20, 20, 20, 0.5));
  background: -moz-radial-gradient(bottom right, #000000, rgba(20, 20, 20, 0.5));
  background: -o-radial-gradient(bottom right, #000000, rgba(20, 20, 20, 0.5));
  background: radial-gradient(bottom right, #000000, rgba(20, 20, 20, 0.5));
  -webkit-animation: backShading2 10s infinite linear;
  -moz-animation: backShading2 10s infinite linear;
  -ms-animation: backShading2 10s infinite linear;
  -o-animation: backShading2 10s infinite linear;
  animation: backShading2 10s infinite linear;
}
/* line 96, ../sass/screen.sass */
.scene .top {
  background: #ff7a47;
  -webkit-transform: rotateX(90deg) translateZ(150px);
  -moz-transform: rotateX(90deg) translateZ(150px);
  -ms-transform: rotateX(90deg) translateZ(150px);
  -o-transform: rotateX(90deg) translateZ(150px);
  transform: rotateX(90deg) translateZ(150px);
  -webkit-box-reflect: none;
}
/* line 101, ../sass/screen.sass */
.scene .top:after {
  content: " ";
  opacity: 0.5;
  width: 200%;
  height: 200%;
  margin-left: -50%;
  margin-top: -50%;
  background: -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, #000000));
  background: -webkit-radial-gradient(bottom, rgba(0, 0, 0, 0), #000000);
  background: -moz-radial-gradient(bottom, rgba(0, 0, 0, 0), #000000);
  background: -o-radial-gradient(bottom, rgba(0, 0, 0, 0), #000000);
  background: radial-gradient(bottom, rgba(0, 0, 0, 0), #000000);
  -webkit-animation: rotateTop 10s infinite linear;
  -moz-animation: rotateTop 10s infinite linear;
  -ms-animation: rotateTop 10s infinite linear;
  -o-animation: rotateTop 10s infinite linear;
  animation: rotateTop 10s infinite linear;
}
/* line 112, ../sass/screen.sass */
.scene .bottom {
  -webkit-transform: rotateX(-90deg) translateZ(150px);
  -moz-transform: rotateX(-90deg) translateZ(150px);
  -ms-transform: rotateX(-90deg) translateZ(150px);
  -o-transform: rotateX(-90deg) translateZ(150px);
  transform: rotateX(-90deg) translateZ(150px);
  -webkit-box-shadow: 0 10px 100px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 10px 100px rgba(0, 0, 0, 0.7);
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.7);
  -webkit-backface-visibility: visible;
  -moz-backface-visibility: visible;
  -ms-backface-visibility: visible;
  -o-backface-visibility: visible;
  backface-visibility: visible;
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-reflect: none;
}
/* line 119, ../sass/screen.sass */
.scene .left {
  -webkit-transform: rotateY(-90deg) translateZ(150px);
  -moz-transform: rotateY(-90deg) translateZ(150px);
  -ms-transform: rotateY(-90deg) translateZ(150px);
  -o-transform: rotateY(-90deg) translateZ(150px);
  transform: rotateY(-90deg) translateZ(150px);
}
/* line 121, ../sass/screen.sass */
.scene .left:before {
  -webkit-animation: leftShading1 10s infinite linear;
  -moz-animation: leftShading1 10s infinite linear;
  -ms-animation: leftShading1 10s infinite linear;
  -o-animation: leftShading1 10s infinite linear;
  animation: leftShading1 10s infinite linear;
}
/* line 123, ../sass/screen.sass */
.scene .left:after {
  -webkit-animation: leftShading2 10s infinite linear;
  -moz-animation: leftShading2 10s infinite linear;
  -ms-animation: leftShading2 10s infinite linear;
  -o-animation: leftShading2 10s infinite linear;
  animation: leftShading2 10s infinite linear;
}
/* line 125, ../sass/screen.sass */
.scene .right {
  -webkit-transform: rotateY(90deg) translateZ(150px);
  -moz-transform: rotateY(90deg) translateZ(150px);
  -ms-transform: rotateY(90deg) translateZ(150px);
  -o-transform: rotateY(90deg) translateZ(150px);
  transform: rotateY(90deg) translateZ(150px);
}
/* line 127, ../sass/screen.sass */
.scene .right:before {
  -webkit-animation: rightShading1 10s infinite linear;
  -moz-animation: rightShading1 10s infinite linear;
  -ms-animation: rightShading1 10s infinite linear;
  -o-animation: rightShading1 10s infinite linear;
  animation: rightShading1 10s infinite linear;
}
/* line 129, ../sass/screen.sass */
.scene .right:after {
  -webkit-animation: rightShading2 10s infinite linear;
  -moz-animation: rightShading2 10s infinite linear;
  -ms-animation: rightShading2 10s infinite linear;
  -o-animation: rightShading2 10s infinite linear;
  animation: rightShading2 10s infinite linear;
}
/* line 131, ../sass/screen.sass */
.scene .front {
  -webkit-transform: translateZ(150px);
  -moz-transform: translateZ(150px);
  -ms-transform: translateZ(150px);
  -o-transform: translateZ(150px);
  transform: translateZ(150px);
}
/* line 133, ../sass/screen.sass */
.scene .front:before {
  -webkit-animation: frontShading1 10s infinite linear;
  -moz-animation: frontShading1 10s infinite linear;
  -ms-animation: frontShading1 10s infinite linear;
  -o-animation: frontShading1 10s infinite linear;
  animation: frontShading1 10s infinite linear;
}
/* line 135, ../sass/screen.sass */
.scene .front:after {
  -webkit-animation: frontShading2 10s infinite linear;
  -moz-animation: frontShading2 10s infinite linear;
  -ms-animation: frontShading2 10s infinite linear;
  -o-animation: frontShading2 10s infinite linear;
  animation: frontShading2 10s infinite linear;
}

@-moz-keyframes rotate {
  /* line 140, ../sass/screen.sass */
  0% {
    -moz-transform: rotateY(0);
    transform: rotateY(0);
  }

  /* line 142, ../sass/screen.sass */
  100% {
    -moz-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-webkit-keyframes rotate {
  /* line 140, ../sass/screen.sass */
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }

  /* line 142, ../sass/screen.sass */
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-o-keyframes rotate {
  /* line 140, ../sass/screen.sass */
  0% {
    -o-transform: rotateY(0);
    transform: rotateY(0);
  }

  /* line 142, ../sass/screen.sass */
  100% {
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-ms-keyframes rotate {
  /* line 140, ../sass/screen.sass */
  0% {
    -ms-transform: rotateY(0);
    transform: rotateY(0);
  }

  /* line 142, ../sass/screen.sass */
  100% {
    -ms-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes rotate {
  /* line 140, ../sass/screen.sass */
  0% {
    transform: rotateY(0);
  }

  /* line 142, ../sass/screen.sass */
  100% {
    transform: rotateY(360deg);
  }
}

@-moz-keyframes frontShading1 {
  /* line 146, ../sass/screen.sass */
  2% {
    opacity: 0;
  }

  /* line 148, ../sass/screen.sass */
  25% {
    opacity: 0.8;
  }

  /* line 150, ../sass/screen.sass */
  35% {
    opacity: 0.8;
  }

  /* line 152, ../sass/screen.sass */
  50% {
    opacity: 0;
  }
}

@-webkit-keyframes frontShading1 {
  /* line 146, ../sass/screen.sass */
  2% {
    opacity: 0;
  }

  /* line 148, ../sass/screen.sass */
  25% {
    opacity: 0.8;
  }

  /* line 150, ../sass/screen.sass */
  35% {
    opacity: 0.8;
  }

  /* line 152, ../sass/screen.sass */
  50% {
    opacity: 0;
  }
}

@-o-keyframes frontShading1 {
  /* line 146, ../sass/screen.sass */
  2% {
    opacity: 0;
  }

  /* line 148, ../sass/screen.sass */
  25% {
    opacity: 0.8;
  }

  /* line 150, ../sass/screen.sass */
  35% {
    opacity: 0.8;
  }

  /* line 152, ../sass/screen.sass */
  50% {
    opacity: 0;
  }
}

@-ms-keyframes frontShading1 {
  /* line 146, ../sass/screen.sass */
  2% {
    opacity: 0;
  }

  /* line 148, ../sass/screen.sass */
  25% {
    opacity: 0.8;
  }

  /* line 150, ../sass/screen.sass */
  35% {
    opacity: 0.8;
  }

  /* line 152, ../sass/screen.sass */
  50% {
    opacity: 0;
  }
}

@keyframes frontShading1 {
  /* line 146, ../sass/screen.sass */
  2% {
    opacity: 0;
  }

  /* line 148, ../sass/screen.sass */
  25% {
    opacity: 0.8;
  }

  /* line 150, ../sass/screen.sass */
  35% {
    opacity: 0.8;
  }

  /* line 152, ../sass/screen.sass */
  50% {
    opacity: 0;
  }
}

@-moz-keyframes frontShading2 {
  /* line 156, ../sass/screen.sass */
  50% {
    opacity: 0;
  }

  /* line 158, ../sass/screen.sass */
  60% {
    opacity: 0.8;
  }

  /* line 160, ../sass/screen.sass */
  75% {
    opacity: 0.8;
  }

  /* line 162, ../sass/screen.sass */
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes frontShading2 {
  /* line 156, ../sass/screen.sass */
  50% {
    opacity: 0;
  }

  /* line 158, ../sass/screen.sass */
  60% {
    opacity: 0.8;
  }

  /* line 160, ../sass/screen.sass */
  75% {
    opacity: 0.8;
  }

  /* line 162, ../sass/screen.sass */
  100% {
    opacity: 0;
  }
}

@-o-keyframes frontShading2 {
  /* line 156, ../sass/screen.sass */
  50% {
    opacity: 0;
  }

  /* line 158, ../sass/screen.sass */
  60% {
    opacity: 0.8;
  }

  /* line 160, ../sass/screen.sass */
  75% {
    opacity: 0.8;
  }

  /* line 162, ../sass/screen.sass */
  100% {
    opacity: 0;
  }
}

@-ms-keyframes frontShading2 {
  /* line 156, ../sass/screen.sass */
  50% {
    opacity: 0;
  }

  /* line 158, ../sass/screen.sass */
  60% {
    opacity: 0.8;
  }

  /* line 160, ../sass/screen.sass */
  75% {
    opacity: 0.8;
  }

  /* line 162, ../sass/screen.sass */
  100% {
    opacity: 0;
  }
}

@keyframes frontShading2 {
  /* line 156, ../sass/screen.sass */
  50% {
    opacity: 0;
  }

  /* line 158, ../sass/screen.sass */
  60% {
    opacity: 0.8;
  }

  /* line 160, ../sass/screen.sass */
  75% {
    opacity: 0.8;
  }

  /* line 162, ../sass/screen.sass */
  100% {
    opacity: 0;
  }
}

@-moz-keyframes backShading1 {
  /* line 166, ../sass/screen.sass */
  25% {
    opacity: 0.8;
  }

  /* line 168, ../sass/screen.sass */
  50% {
    opacity: 0;
  }

  /* line 170, ../sass/screen.sass */
  75% {
    opacity: 0;
  }

  /* line 172, ../sass/screen.sass */
  80% {
    opacity: 0.8;
  }
}

@-webkit-keyframes backShading1 {
  /* line 166, ../sass/screen.sass */
  25% {
    opacity: 0.8;
  }

  /* line 168, ../sass/screen.sass */
  50% {
    opacity: 0;
  }

  /* line 170, ../sass/screen.sass */
  75% {
    opacity: 0;
  }

  /* line 172, ../sass/screen.sass */
  80% {
    opacity: 0.8;
  }
}

@-o-keyframes backShading1 {
  /* line 166, ../sass/screen.sass */
  25% {
    opacity: 0.8;
  }

  /* line 168, ../sass/screen.sass */
  50% {
    opacity: 0;
  }

  /* line 170, ../sass/screen.sass */
  75% {
    opacity: 0;
  }

  /* line 172, ../sass/screen.sass */
  80% {
    opacity: 0.8;
  }
}

@-ms-keyframes backShading1 {
  /* line 166, ../sass/screen.sass */
  25% {
    opacity: 0.8;
  }

  /* line 168, ../sass/screen.sass */
  50% {
    opacity: 0;
  }

  /* line 170, ../sass/screen.sass */
  75% {
    opacity: 0;
  }

  /* line 172, ../sass/screen.sass */
  80% {
    opacity: 0.8;
  }
}

@keyframes backShading1 {
  /* line 166, ../sass/screen.sass */
  25% {
    opacity: 0.8;
  }

  /* line 168, ../sass/screen.sass */
  50% {
    opacity: 0;
  }

  /* line 170, ../sass/screen.sass */
  75% {
    opacity: 0;
  }

  /* line 172, ../sass/screen.sass */
  80% {
    opacity: 0.8;
  }
}

@-moz-keyframes backShading2 {
  /* line 176, ../sass/screen.sass */
  25% {
    opacity: 0;
  }

  /* line 178, ../sass/screen.sass */
  50% {
    opacity: 0;
  }

  /* line 180, ../sass/screen.sass */
  75% {
    opacity: 0.8;
  }

  /* line 182, ../sass/screen.sass */
  80% {
    opacity: 0.8;
  }
}

@-webkit-keyframes backShading2 {
  /* line 176, ../sass/screen.sass */
  25% {
    opacity: 0;
  }

  /* line 178, ../sass/screen.sass */
  50% {
    opacity: 0;
  }

  /* line 180, ../sass/screen.sass */
  75% {
    opacity: 0.8;
  }

  /* line 182, ../sass/screen.sass */
  80% {
    opacity: 0.8;
  }
}

@-o-keyframes backShading2 {
  /* line 176, ../sass/screen.sass */
  25% {
    opacity: 0;
  }

  /* line 178, ../sass/screen.sass */
  50% {
    opacity: 0;
  }

  /* line 180, ../sass/screen.sass */
  75% {
    opacity: 0.8;
  }

  /* line 182, ../sass/screen.sass */
  80% {
    opacity: 0.8;
  }
}

@-ms-keyframes backShading2 {
  /* line 176, ../sass/screen.sass */
  25% {
    opacity: 0;
  }

  /* line 178, ../sass/screen.sass */
  50% {
    opacity: 0;
  }

  /* line 180, ../sass/screen.sass */
  75% {
    opacity: 0.8;
  }

  /* line 182, ../sass/screen.sass */
  80% {
    opacity: 0.8;
  }
}

@keyframes backShading2 {
  /* line 176, ../sass/screen.sass */
  25% {
    opacity: 0;
  }

  /* line 178, ../sass/screen.sass */
  50% {
    opacity: 0;
  }

  /* line 180, ../sass/screen.sass */
  75% {
    opacity: 0.8;
  }

  /* line 182, ../sass/screen.sass */
  80% {
    opacity: 0.8;
  }
}

@-moz-keyframes leftShading1 {
  /* line 186, ../sass/screen.sass */
  0% {
    opacity: 0;
  }

  /* line 188, ../sass/screen.sass */
  25% {
    opacity: 0;
  }

  /* line 190, ../sass/screen.sass */
  50% {
    opacity: 0.8;
  }

  /* line 192, ../sass/screen.sass */
  60% {
    opacity: 0.8;
  }
}

@-webkit-keyframes leftShading1 {
  /* line 186, ../sass/screen.sass */
  0% {
    opacity: 0;
  }

  /* line 188, ../sass/screen.sass */
  25% {
    opacity: 0;
  }

  /* line 190, ../sass/screen.sass */
  50% {
    opacity: 0.8;
  }

  /* line 192, ../sass/screen.sass */
  60% {
    opacity: 0.8;
  }
}

@-o-keyframes leftShading1 {
  /* line 186, ../sass/screen.sass */
  0% {
    opacity: 0;
  }

  /* line 188, ../sass/screen.sass */
  25% {
    opacity: 0;
  }

  /* line 190, ../sass/screen.sass */
  50% {
    opacity: 0.8;
  }

  /* line 192, ../sass/screen.sass */
  60% {
    opacity: 0.8;
  }
}

@-ms-keyframes leftShading1 {
  /* line 186, ../sass/screen.sass */
  0% {
    opacity: 0;
  }

  /* line 188, ../sass/screen.sass */
  25% {
    opacity: 0;
  }

  /* line 190, ../sass/screen.sass */
  50% {
    opacity: 0.8;
  }

  /* line 192, ../sass/screen.sass */
  60% {
    opacity: 0.8;
  }
}

@keyframes leftShading1 {
  /* line 186, ../sass/screen.sass */
  0% {
    opacity: 0;
  }

  /* line 188, ../sass/screen.sass */
  25% {
    opacity: 0;
  }

  /* line 190, ../sass/screen.sass */
  50% {
    opacity: 0.8;
  }

  /* line 192, ../sass/screen.sass */
  60% {
    opacity: 0.8;
  }
}

@-moz-keyframes leftShading2 {
  /* line 196, ../sass/screen.sass */
  0% {
    opacity: 0.8;
  }

  /* line 198, ../sass/screen.sass */
  25% {
    opacity: 0;
  }

  /* line 200, ../sass/screen.sass */
  50% {
    opacity: 0;
  }

  /* line 202, ../sass/screen.sass */
  100% {
    opacity: 0.8;
  }
}

@-webkit-keyframes leftShading2 {
  /* line 196, ../sass/screen.sass */
  0% {
    opacity: 0.8;
  }

  /* line 198, ../sass/screen.sass */
  25% {
    opacity: 0;
  }

  /* line 200, ../sass/screen.sass */
  50% {
    opacity: 0;
  }

  /* line 202, ../sass/screen.sass */
  100% {
    opacity: 0.8;
  }
}

@-o-keyframes leftShading2 {
  /* line 196, ../sass/screen.sass */
  0% {
    opacity: 0.8;
  }

  /* line 198, ../sass/screen.sass */
  25% {
    opacity: 0;
  }

  /* line 200, ../sass/screen.sass */
  50% {
    opacity: 0;
  }

  /* line 202, ../sass/screen.sass */
  100% {
    opacity: 0.8;
  }
}

@-ms-keyframes leftShading2 {
  /* line 196, ../sass/screen.sass */
  0% {
    opacity: 0.8;
  }

  /* line 198, ../sass/screen.sass */
  25% {
    opacity: 0;
  }

  /* line 200, ../sass/screen.sass */
  50% {
    opacity: 0;
  }

  /* line 202, ../sass/screen.sass */
  100% {
    opacity: 0.8;
  }
}

@keyframes leftShading2 {
  /* line 196, ../sass/screen.sass */
  0% {
    opacity: 0.8;
  }

  /* line 198, ../sass/screen.sass */
  25% {
    opacity: 0;
  }

  /* line 200, ../sass/screen.sass */
  50% {
    opacity: 0;
  }

  /* line 202, ../sass/screen.sass */
  100% {
    opacity: 0.8;
  }
}

@-moz-keyframes rightShading2 {
  /* line 206, ../sass/screen.sass */
  50% {
    opacity: 0.8;
  }

  /* line 208, ../sass/screen.sass */
  75% {
    opacity: 0;
  }

  /* line 210, ../sass/screen.sass */
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes rightShading2 {
  /* line 206, ../sass/screen.sass */
  50% {
    opacity: 0.8;
  }

  /* line 208, ../sass/screen.sass */
  75% {
    opacity: 0;
  }

  /* line 210, ../sass/screen.sass */
  100% {
    opacity: 0;
  }
}

@-o-keyframes rightShading2 {
  /* line 206, ../sass/screen.sass */
  50% {
    opacity: 0.8;
  }

  /* line 208, ../sass/screen.sass */
  75% {
    opacity: 0;
  }

  /* line 210, ../sass/screen.sass */
  100% {
    opacity: 0;
  }
}

@-ms-keyframes rightShading2 {
  /* line 206, ../sass/screen.sass */
  50% {
    opacity: 0.8;
  }

  /* line 208, ../sass/screen.sass */
  75% {
    opacity: 0;
  }

  /* line 210, ../sass/screen.sass */
  100% {
    opacity: 0;
  }
}

@keyframes rightShading2 {
  /* line 206, ../sass/screen.sass */
  50% {
    opacity: 0.8;
  }

  /* line 208, ../sass/screen.sass */
  75% {
    opacity: 0;
  }

  /* line 210, ../sass/screen.sass */
  100% {
    opacity: 0;
  }
}

@-moz-keyframes rightShading1 {
  /* line 214, ../sass/screen.sass */
  10% {
    opacity: 0.8;
  }

  /* line 216, ../sass/screen.sass */
  50% {
    opacity: 0;
  }

  /* line 218, ../sass/screen.sass */
  75% {
    opacity: 0;
  }

  /* line 220, ../sass/screen.sass */
  100% {
    opacity: 0.8;
  }
}

@-webkit-keyframes rightShading1 {
  /* line 214, ../sass/screen.sass */
  10% {
    opacity: 0.8;
  }

  /* line 216, ../sass/screen.sass */
  50% {
    opacity: 0;
  }

  /* line 218, ../sass/screen.sass */
  75% {
    opacity: 0;
  }

  /* line 220, ../sass/screen.sass */
  100% {
    opacity: 0.8;
  }
}

@-o-keyframes rightShading1 {
  /* line 214, ../sass/screen.sass */
  10% {
    opacity: 0.8;
  }

  /* line 216, ../sass/screen.sass */
  50% {
    opacity: 0;
  }

  /* line 218, ../sass/screen.sass */
  75% {
    opacity: 0;
  }

  /* line 220, ../sass/screen.sass */
  100% {
    opacity: 0.8;
  }
}

@-ms-keyframes rightShading1 {
  /* line 214, ../sass/screen.sass */
  10% {
    opacity: 0.8;
  }

  /* line 216, ../sass/screen.sass */
  50% {
    opacity: 0;
  }

  /* line 218, ../sass/screen.sass */
  75% {
    opacity: 0;
  }

  /* line 220, ../sass/screen.sass */
  100% {
    opacity: 0.8;
  }
}

@keyframes rightShading1 {
  /* line 214, ../sass/screen.sass */
  10% {
    opacity: 0.8;
  }

  /* line 216, ../sass/screen.sass */
  50% {
    opacity: 0;
  }

  /* line 218, ../sass/screen.sass */
  75% {
    opacity: 0;
  }

  /* line 220, ../sass/screen.sass */
  100% {
    opacity: 0.8;
  }
}

@-moz-keyframes rotateTop {
  /* line 224, ../sass/screen.sass */
  0% {
    -moz-transform: rotateZ(0);
    transform: rotateZ(0);
  }

  /* line 226, ../sass/screen.sass */
  100% {
    -moz-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@-webkit-keyframes rotateTop {
  /* line 224, ../sass/screen.sass */
  0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }

  /* line 226, ../sass/screen.sass */
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@-o-keyframes rotateTop {
  /* line 224, ../sass/screen.sass */
  0% {
    -o-transform: rotateZ(0);
    transform: rotateZ(0);
  }

  /* line 226, ../sass/screen.sass */
  100% {
    -o-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@-ms-keyframes rotateTop {
  /* line 224, ../sass/screen.sass */
  0% {
    -ms-transform: rotateZ(0);
    transform: rotateZ(0);
  }

  /* line 226, ../sass/screen.sass */
  100% {
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@keyframes rotateTop {
  /* line 224, ../sass/screen.sass */
  0% {
    transform: rotateZ(0);
  }

  /* line 226, ../sass/screen.sass */
  100% {
    transform: rotateZ(360deg);
  }
}

@-moz-keyframes introduceCube {
  /* line 230, ../sass/screen.sass */
  0% {
    opacity: 0;
    top: -20px;
    -moz-transform: scale(0.6);
    transform: scale(0.6);
  }

  /* line 234, ../sass/screen.sass */
  20% {
    opacity: 1;
  }

  /* line 236, ../sass/screen.sass */
  100% {
    top: 0;
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes introduceCube {
  /* line 230, ../sass/screen.sass */
  0% {
    opacity: 0;
    top: -20px;
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }

  /* line 234, ../sass/screen.sass */
  20% {
    opacity: 1;
  }

  /* line 236, ../sass/screen.sass */
  100% {
    top: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-o-keyframes introduceCube {
  /* line 230, ../sass/screen.sass */
  0% {
    opacity: 0;
    top: -20px;
    -o-transform: scale(0.6);
    transform: scale(0.6);
  }

  /* line 234, ../sass/screen.sass */
  20% {
    opacity: 1;
  }

  /* line 236, ../sass/screen.sass */
  100% {
    top: 0;
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@-ms-keyframes introduceCube {
  /* line 230, ../sass/screen.sass */
  0% {
    opacity: 0;
    top: -20px;
    -ms-transform: scale(0.6);
    transform: scale(0.6);
  }

  /* line 234, ../sass/screen.sass */
  20% {
    opacity: 1;
  }

  /* line 236, ../sass/screen.sass */
  100% {
    top: 0;
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes introduceCube {
  /* line 230, ../sass/screen.sass */
  0% {
    opacity: 0;
    top: -20px;
    transform: scale(0.6);
  }

  /* line 234, ../sass/screen.sass */
  20% {
    opacity: 1;
  }

  /* line 236, ../sass/screen.sass */
  100% {
    top: 0;
    transform: scale(1);
  }
}
